* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.section-spacing {
  margin-bottom: 80px;
}

/* navbar section  */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;
}

.nav-1 h1 {
  font-size: 35px;
  color: #D03801;
  font-weight: 800;

}

.nav-2 a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-weight: 600;
}

.active {
  color: blue !important;
}

.nav-3 a {
  color: white;
  text-decoration: none;
  background-color: blue;
  border-radius: 5px;
  padding: 10px 20px;

}

/* banner section  */

.banner-section {
  background-image: url("./Images/slider-1.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.388);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-overlay h1 {
  font-size: 60px;
  font-weight: 800;
  text-shadow: 2px 2px 3px rgba(0, 0, 0.708);
}

.banner-overlay p {
  font-size: 22px;
  font-weight: 700;
  text-shadow: 2px 2px 3px rgba(0, 0, 0.708);
}

.banner-overlay a {
  background-color: #D03801;
  border-radius: 5px;
  text-decoration: none;
  padding: 20px 30px;
  color: white;
  font-weight: 700;
  margin-top: 20px;
}

/* about section  */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.about-left,
.about-right {
  width: 35%;
}

.about-left h3 {
  font-size: 35px;
}

.about-left h3 span {
  color: #D03801;
}

.about-left p {
  margin: 20px 0;
}

.about-left h4 {
  font-size: 25px;
  font-weight: 500;
}

.about-left h4 span {
  font-weight: 700px;
}

.aboutleft-inner {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.aboutleft-inner h5 {
  color: #D03801;
  font-size: 25px;
}

.about-left a {
  text-decoration: none;
  color: white;
  background-color: orangered;
  border-radius: 5px;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 10px;
}

.about-right img {
  width: 100%;
}

/* services section  */

.service-card {
  border: 1px solid gray;
  height: 250px;
  width: 25%;
  background-size: cover;
  background-position: center;
}

.service-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  text-align: center;
  /* background-color: rgba(82, 80, 80, 0.973); */
}

.service-icon {
  background-color: #D03801;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

.service-overlay h3 {
  margin: 15px 0;
}

.services-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 50px;
}

.service-text {
  text-align: center;
  margin-bottom: 60px;
}

.sec-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sec-heading span {
  color: #D03801;
}

/* .service-text h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.service-text h2 span {
  color: #D03801;
} */

.service-card:hover .service-icon {
  background-color: white;
  color: #D03801;
  transform: scale(1.2);
}

.service-card:hover .service-overlay {
  background-color: rgba(0, 0, 0, 0.301);
  color: white;
}

.scard1:hover {
  background-image: url("./Images/service-1.webp");
}

.scard2:hover {
  background-image: url("./Images/service-2.webp");
}

.scard3:hover {
  background-image: url("./Images/service-3.webp");
}

.scard4:hover {
  background-image: url("./Images/service-4.webp");
}

.scard5:hover {
  background-image: url("./Images/service-5.webp");
}

.scard6:hover {
  background-image: url("./Images/service-6.webp");
}

/* process section  */

.process-text {
  text-align: center;
}

.process-section {
  background-image: url("./Images/bg-1.webp");
  background-size: cover;
  background-position: center;
  /* margin-top: 80px; */
}

.process-overlay {
  background-color: rgba(0, 0, 0, 0.484);
  padding: 30px 0;
  color: white;
}

.process-card {
  background-color: white;
  color: black;
  height: 150px;
  width: 18%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process-card-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.process-icon {
  font-size: 35px;
  color: #D03801;
  margin-bottom: 15px;
}

/* project section  */

.project-text {
  text-align: center;
}

.project-card {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 25%;
}

.pcard1 {
  background-image: url("./Images/project-1.webp");
}

.pcard2 {
  background-image: url("./Images/project-2.webp");
}

.pcard3 {
  background-image: url("./Images/project-3.webp");
}

.pcard4 {
  background-image: url("./Images/project-4.webp");
}

.pcard5 {
  background-image: url("./Images/project-5.webp");
}

.pcard6 {
  background-image: url("./Images/project-6.webp");
}

.pcard7 {
  background-image: url("./Images/project-7.webp");
}

.pcard8 {
  background-image: url("./Images/project-8.webp");
}

.pcard9 {
  background-image: url("./Images/project-9.webp");
}

.project-card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.project-overlay {
  background-color: rgba(0, 0, 0, 0.342);
  border: 5px solid #D03801;
  color: white;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
}

.project-card:hover .project-overlay {
  display: flex;
}

.project-section a {
  text-decoration: none;
  color: white;
  background-color: rgb(9, 9, 57);
  border-radius: 10px;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 30px;
}

.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* company section  */

.company-section {
  border: 5px solid black;
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.company-section img {
  filter: grayscale(100%);
}

.company-section img:hover {
  filter: grayscale(0%);
}

/* news section  */

.news-text {
  text-align: center;
}

.news-section {
  margin-top: 80px;
}

.news-card {
  height: 250px;
  width: 26%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card1,
.card2,
.card3 {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 100%;
}

.card1 {
  background-image: url("./Images/blog-1.webp");

}

.card2 {
  background-image: url("./Images/blog-3.webp");
}

.card3 {
  background-image: url("./Images/blog-9.webp");
}

.news-card-section {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card1:hover {
  transform: scale(1.2);
  transition-duration: 1.5s;
}

.card2:hover {
  transform: scale(1.2);
  transition-duration: 1.5s;
}

.card3:hover {
  transform: scale(1.2);
  transition-duration: 1.5s;
}


/* footer section  */

.footer-section {
  background-color: #111827;
  color: white;
  padding: 40px 180px;
}

.footer-parent {
  display: flex;
  justify-content: space-between;

}

.foot-1,
.foot-2,
.foot3,
.foot4 {
  width: 20%;
}

.footer-parent h3 {
  font-size: 24px;
  font-weight: 600px;
  margin-bottom: 20px;
}

.foot-1 h3 {
  color: #D03801;

}

.foot-icon {
  background-color: blue;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.foot-2 a,
.foot-3 span {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 15px;

}

.foot-4 input {
  padding: 10px;
  margin: 15px 0;
}

.foot-4 button {
  padding: 10px 20px;
  background-color: #D03801;
  border: none;
  color: white;
  font-size: 16px;

}

.footer-section hr {
  margin: 50px 0;
}

.footer-section>p {
  text-align: center;

}

.footer-icons .f3 {
  background-color: red;
}