* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.sec-paragraph {
  color: rgba(8, 7, 7, 0.698);
}

/* navbar section  */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 999;
}


.nav2 a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
  /* font-family: sans-serif; */
}

.nav2 {
  display: flex;
  gap: 40px;
}

/* BANNER SECTION  */

.banner {
  background-image: url("./img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 80px;
}

.banner-overlay {
  background: linear-gradient(to bottom, #ee5d5d, #e12696);
  height: 100%;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.banner-overlay h1 {
  font-size: 50px;
  /* font-family: sans-serif; */
  font-weight: 600;
  text-align: center;
}

.banner-overlay a {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  border-radius: 15px;
  background-color: white;
  padding: 5px;
  /* font-family: sans-serif; */
  font-size: small;
}

/* facilities section  */

.facilities-1 {
  margin-bottom: 80px;
}

.facilities-text {
  text-align: center;
  margin-bottom: 40px;
}

.facilities-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}



.f1-img {
  background-image: url("./img/f1.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 25%;
  position: relative;
}


.f2-img {
  background-image: url("./img/g3.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 25%;
  position: relative;
}

.f3-img {
  background-image: url("./img/f3.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 25%;
  position: relative;
}

.facilities-img {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.text-overlay {
  color: white;
  font-size: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
}



.f1-overlay,
.f2-overlay,
.f3-overlay {
  height: 0%;
  width: 100%;
  background: linear-gradient(to bottom, #ee5d5d, #e12696);
  opacity: 0.8;
  position: absolute;
  right: 0;
  bottom: 0;
  transition-duration: 1s;

}

.f1-img:hover .f1-overlay {
  height: 100%;

}

.f2-img:hover .f2-overlay {
  height: 100%;
}

.f3-img:hover .f3-overlay {
  height: 100%;

}



/* welcome section  */

.welcome-section {
  height: 400px;
  width: 100%;
  display: flex;
  padding: 0px 20px 0px 20px;
  margin-bottom: 80px;
}

.welcome-img {
  height: 400px;
  width: 50%;
  background-image: url("./img/about-img.jpg");
  background-size: cover;
  background-position: center;
}

.welcome-text {
  height: 400px;
  width: 50%;
  background-color: #212529;
  color: white;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

}

.welcome-text p {
  color: rgba(255, 255, 255, 0.386);
  text-align: justify;
}

.welcome-text a {
  text-decoration: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.561);
  border-radius: 15px;
  width: fit-content;
  padding: 8px;
  font-size: 12px;
}

/* facilities-card section  */

.facilities-card-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.facilities-card {
  /* height: 400px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 80px 100px 100px 100px;
  gap: 30px;

}

.f-card,
.f1-card {
  height: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.f-card img {
  height: 30px;
  width: 30px;
}

.f1-card img {
  height: 15px;
  width: 15px;
}

/* photose section  */

.photos-section {
  height: 300px;
  width: 100%;
  display: flex;
  padding: 0px 10px 0px 10px;
  margin-bottom: 70px;
}

.p1-img {
  background-image: url("./img/g1.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 18%;
}

.p2-img {
  background-image: url("./img/g2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 18%;
}

.p3-img {
  background-image: url("./img/g3.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 18%;
}

.p4-img {
  background-image: url("./img/g4.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 18%;
}

.p5-img {
  background-image: url("./img/g5.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 18%;
}

.p6-img {
  background-image: url("./img/g6.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 18%;
}

/* book-room form  */

.book-room-form {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.booking-room-form {
  /* height: 600px; */
  width: 75%;
  background-color: white;
  box-shadow: -1px 1px 3px 0px rgb(184, 183, 183);
  padding: 20px 70px 70px 70px;
  display: flex;
  flex-direction: column;
}

.form-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.booking-form {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}

.form-1,
.form-2 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;

}

.form-3 {
  height: 100%;
  width: 30%;
}

.form-1 input[type="text"] {
  margin-bottom: 20px;
  padding: 8px;
  width: 100%;
}

.form-1 select {
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.form-2 input[type="text"] {
  margin-bottom: 20px;
  padding: 8px;
  width: 100%;
}

.form-2 select {
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.form-3 textarea {
  width: 100%;
  padding: 8px;
}

.book-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-btn a {
  text-decoration: none;
  background: linear-gradient(to right, #f12711, #f5af19);
  width: fit-content;
  border-radius: 15px;
  padding: 7px 10px;
  color: white;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

/* responcive form  */

.booking-form-2 {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-1-2 form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.form-1-2 input[type="text"] {
  padding: 8px;
  width: 100%;
}

.form-1-2 select {
  padding: 8px;
  width: 100%;
}

.form-1-2 textarea {
  width: 100%;
  padding: 8px;
}

/* contact section  */

.contact-section {
  /* height: 300px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  margin-bottom: 80px;
}

.address,
.call,
.mail,
.customer {
  height: 100%;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.address,
.call,
.mail,
.customer span {
  font-size: 14px;
}


/* footer section  */

.footer-section {
  /* height: 500px; */
  width: 100%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  /* margin: 0px 10px; */
}


.foot-1 {
  height: 230px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 70px;

}

.footer-com {
  height: 100%;
  width: 25%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-1 {
  display: flex;
}

.s-color {
  color: rgba(255, 255, 255, 0.318);
}

.footer-com h4 {
  color: white;
}

.input-1 img {
  height: 30px;
  width: 30px;
  background: linear-gradient(to right, #fe8c00, #f83600);
  padding: 5px;
}

.input-1 input[type="text"] {
  padding: 5px;
  width: 80%;
  border: none;
  background-color: black;
}

.s-media {
  display: flex;
  gap: 30px;
}